body {
    background-color: white;
    color: black;
    padding: 100px;
}

p {
    background-color: rgb(7, 7, 141);
    width: 4000;
    height: 100;
}  

.black_container {
    background-color: black;
    height: 100px;
}

.center_container {
    background-color: blue;
    position: absolute;
    top: 120px;
    width: 150px;
    height: 150px;
    left: 40px;
}